
<ion-header>

  <ion-navbar>
    <ion-title>Agendar nueva Cita</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center>


  <ion-list> 
    
      <ion-item>
          <ion-label>Tipo de servicio</ion-label>
          <ion-select [(ngModel)]="gender">
            <ion-option value="f">Videoasistencia</ion-option>
            <ion-option value="m">Presencial</ion-option>
          </ion-select>
        </ion-item>
<!--    
    <ion-item>
      <ion-label floating>Fecha de inicio</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="fechaNuevoInicioCita"></ion-datetime>
    </ion-item>

  <ion-item>
      <ion-label floating>Seleccionar fecha</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="fechaNuevoInicioCita"></ion-datetime>
  </ion-item>
  -->
  <ion-item>
      <ion-label>Fecha de consulta:</ion-label>
      <ion-input type="text" [(ngModel)]="fechaSeleccionada" placeholder="Ingrese la fecha" (click)="seleccionaFechaDeCita()" disabled="true"></ion-input>
  </ion-item>

  <ion-item> 
      <ion-label>Hora de inicio: </ion-label>
      <ion-input type="text" [(ngModel)]="fechaSeleccionada" placeholder="Ingrese la fecha" (click)="seleccionaFechaDeCita()" disabled="true"></ion-input>
  </ion-item>
  
  <ion-item>
      <ion-label>Hora de fin:</ion-label>
      <ion-input type="text" [(ngModel)]="fechaSeleccionada" placeholder="Ingrese la fecha" (click)="seleccionaFechaDeCita()" disabled="true"></ion-input>
  </ion-item>

  <div>
      <ion-checkbox color="Primary" (click)="addValue($event)" [(ngModel)]="checked"></ion-checkbox>Reagendar fecha de consulta
      <button ion-button outline item-end icon-left  color="Primary" (click)="loadingBar()" [hidden]=!checked>Verificar disponibilidad de Horarios</button>
  </div>

<div [hidden]=!checked id="scroll" >
    <ion-card *ngFor="let objHorarios of HORARIOS;let indice = index">
      <ion-card-header>
          Horario Disponible
      </ion-card-header>
      <ion-card-content>
          {{objHorarios.horaInicio}} - {{objHorarios.horaFin}}
          <button ion-button outline item-end icon-left  color="Primary" (click)="idCardPresionado(indice)">Seleccionar horario</button>
      </ion-card-content>
    </ion-card>
  </div>  
    
<!--
      <ion-card>
      <ion-card-header>
          Horario Disponible
      </ion-card-header>
      <ion-card-content>
          08:00:00 - 08:30:00
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
          Horario Disponible
      </ion-card-header>
      <ion-card-content>
          08:30:00 - 09:00:00
      </ion-card-content>
    </ion-card>
-->


  </ion-list>
<!--
  <div *ngFor="let i of horaInicioArray;let indice = index">{{indice}}</div>
  <div *ngFor="let j of horaFinArray">{{j}}</div>
-->
<!--
  <p *ngFor="let objHorarios of HORARIOS;let indice = index">
      {{objHorarios.horaInicio}} - {{objHorarios.horaFin}}
    </p>
-->
<!--
  <ion-select placeholder="Select" [(ngModel)]="selected">
      <ion-option *ngFor="let item of horaInicioArray" value="item">{{item}}</ion-option>
  </ion-select>
  -->

  <button ion-button outline item-end icon-left  color="Primary" (click)="agregarCitaManualmente()">Aceptar<br>
    
  </button>

  <button ion-button outline item-end icon-left  color="Primary" (click)="cancelar()">Cancelar <br></button>
  
  <button ion-button item-end icon-left  color="Primary" (click)="consultarHorariosOcupados()">Horarios Ocupados<br></button>
 <!-- 
  <button ion-button item-end icon-left  color="Primary" (click)="seleccionaFechaDeCita()">Seleccionar hora<br></button>
  -->

</ion-content>
